@charset "utf-8";

$font-normal: 'Noto Sans KR', sans-serif;
$font-eng: 'Roboto', sans-serif;

$color-normal: #dcd6c8;
$color-point: #879997;
$color-point2: #dfdfdf;
$color-black: #121212;
$color-gray: #393939;
$color-white: #fff;

$minpc-size: 1480px;
$mobile-size: 680px;
$tablet-size: 1025px;